@model task2.Models.PagedList<task2.Models.Photo>

<div class="container">
    @for (int i = 0; i < Model.Content.Count; i++)
    {
        string number = ((Model.CurrentPage - 1) * Model.PageSize + i + 1) + "/" + Model.TotalRecords;
        <div class="mySlides">
            <div class="numbertext">@number</div>
            <img src=@("data:image;base64," + @Convert.ToBase64String(Model.Content[i].LargeImage)) style="width: 100%">
        </div>
    }

    <a class="prev" onclick="prevSlide(@Model.CurrentPage)">❮</a>
    <a class="next" onclick="nextSlide(@Model.CurrentPage, @Model.TotalRecords)">❯</a>

    <div class="caption-container">
        <p id="caption"></p>
    </div>

    <div class="row">
        @for (int i = 0; i < Model.Content.Count; i++)
        {
            <div class="column">
                <img class="demo cursor"
                     src=@("data:image;base64," + @Convert.ToBase64String(Model.Content[i].SmallImage))
                     onclick="currentSlide(@(i+1))"
                     style="width: 100%"
                     alt="@Model.Content[i].Description">
            </div>
        }
    </div>
</div>

<style>
    .container {
        position: relative;
    }

    .mySlides {
        display: none;
    }

    .cursor {
        cursor: pointer;
    }

    .prev,
    .next {
        cursor: pointer;
        position: absolute;
        top: 40%;
        width: auto;
        padding: 16px;
        margin-top: -50px;
        color: white;
        font-weight: bold;
        font-size: 20px;
        border-radius: 0 3px 3px 0;
        user-select: none;
        -webkit-user-select: none;
    }

    .next {
        right: 20px;
        border-radius: 3px 0 0 3px;
    }

        .prev:hover,
        .next:hover {
            background-color: rgba(0, 0, 0, 0.8);
        }

    .numbertext {
        color: #f2f2f2;
        font-size: 12px;
        padding: 8px 12px;
        position: absolute;
        top: 0;
    }

    .caption-container {
        text-align: center;
        background-color: #222;
        padding: 2px 16px;
        color: white;
    }

    .row:after {
        content: "";
        display: table;
        clear: both;
    }

    .column {
        float: left;
        width: 16.66%;
    }

    .demo {
        opacity: 0.6;
    }

        .active,
        .demo:hover {
            opacity: 1;
        }
</style>

<script>
        var photosPerPage = 6;
        var slideIndex = 1;

        showSlides(slideIndex);

        function prevSlide(currentPage) {
            if (slideIndex == 1 && currentPage == 1) {
                return;
            }
            if (slideIndex != 1) {
                showSlides(slideIndex -= 1);
                return
            }
            currentPage -= 1;
            $('#photos').load('@Url.Action("PhotosPage", "Home")?pageNum=' + currentPage);
        }

        function nextSlide(currentPage, totalRecords) {
            if (slideIndex == photosPerPage && totalRecords / photosPerPage == currentPage) {
                return;
            }

            if (slideIndex != photosPerPage) {
                showSlides(slideIndex += 1);
                return;
            }
            currentPage += 1;
            $('#photos').load('@Url.Action("PhotosPage", "Home")?pageNum=' + currentPage);
        }

        function currentSlide(n) {
            showSlides(slideIndex = n);
        }
        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("demo");
            var captionText = document.getElementById("caption");
            if (n > slides.length) { slideIndex = slides.length; return; }
            if (n < 1) { slideIndex = 1; return; }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
            captionText.innerHTML = dots[slideIndex - 1].alt;
        }
</script>